## PART 1 : Pré-traitement des datasets

In [94]:
import pandas as pd

data_true  = pd.read_csv('True.csv')
data_fake  = pd.read_csv('Fake.csv')

data_true.shape, data_fake.shape

((21417, 4), (23481, 4))

La répartition est plutot équitable malgré qu'il y est plus de fake, il y'a 2064 données de plus dans le fake.

In [95]:
data_true["text"] 
# data_fake["text"]

0        WASHINGTON (Reuters) - The head of a conservat...
1        WASHINGTON (Reuters) - Transgender people will...
2        WASHINGTON (Reuters) - The special counsel inv...
3        WASHINGTON (Reuters) - Trump campaign adviser ...
4        SEATTLE/WASHINGTON (Reuters) - President Donal...
                               ...
21412    BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413    LONDON (Reuters) - LexisNexis, a provider of l...
21414    MINSK (Reuters) - In the shadow of disused Sov...
21415    MOSCOW (Reuters) - Vatican Secretary of State ...
21416    JAKARTA (Reuters) - Indonesia will buy 11 Sukh...
Name: text, Length: 21417, dtype: object

Le texte de True est toujours préfixer de l'endroit suivit de (Reuters) -.

In [96]:
data_true['text'] = data_true['text'].apply(lambda x: x.split(' - ', 1)[1] if len(x.split(' - ', 1)) > 1 else x)

In [97]:
nb_textes_vides_true = data_true['text'].apply(lambda x: x.strip() == '').sum()
data_true = data_true[data_true['text'].apply(lambda x: x.strip() != '')]
print(f"Nombre de textes vides supprimés dans data_true: {nb_textes_vides_true}")

nb_textes_vides_false = data_fake['text'].apply(lambda x: x.strip() == '').sum()
data_fake = data_fake[data_fake['text'].apply(lambda x: x.strip() != '')]
print(f"Nombre de textes vides supprimés dans data_false: {nb_textes_vides_false}")

Nombre de textes vides supprimés dans data_true: 1
Nombre de textes vides supprimés dans data_false: 630

In [98]:
nb_doublons_true = data_true.duplicated().sum()
print(f"Nombre de doublons dans data_true: {nb_doublons_true}")
data_true = data_true.drop_duplicates()

nb_doublons_fake = data_fake.duplicated().sum()
print(f"Nombre de doublons dans data_fake: {nb_doublons_fake}")
data_fake = data_fake.drop_duplicates()

Nombre de doublons dans data_true: 206
Nombre de doublons dans data_fake: 3

In [99]:
data_true['true'] = 0
data_fake['fake'] = 1

In [100]:
data_true['text'] = data_true['text'] + ' ' + data_true['title']

data_fake['text'] = data_fake['text'] + ' ' + data_fake['title']

In [101]:
data_true["text"] = data_true["text"].apply(lambda x: x.lower())
data_fake["text"] = data_fake["text"].apply(lambda x: x.lower())

In [103]:
data_true_subset = data_true[['text', 'true']]
data_fake_subset = data_fake[['text', 'fake']]

data = pd.concat([data_true_subset, data_fake_subset])
data = data.reset_index(drop=True)

print(f"Nombre total de news dans le dataset: {len(data)}")
data

Nombre total de news dans le dataset: 44058

                                                    text  true  fake
0      the head of a conservative republican faction ...   0.0   NaN
1      transgender people will be allowed for the fir...   0.0   NaN
2      the special counsel investigation of links bet...   0.0   NaN
3      trump campaign adviser george papadopoulos tol...   0.0   NaN
4      president donald trump called on the u.s. post...   0.0   NaN
...                                                  ...   ...   ...
44053  21st century wire says as 21wire reported earl...   NaN   1.0
44054  21st century wire says it s a familiar theme. ...   NaN   1.0
44055  patrick henningsen  21st century wireremember ...   NaN   1.0
44056  21st century wire says al jazeera america will...   NaN   1.0
44057  21st century wire says as 21wire predicted in ...   NaN   1.0

[44058 rows x 3 columns]

## PART 2 : Mise en forme des textes